<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 	name, category, address, photo, average, url, menu  -->	 
<mapper namespace="Board">
	<insert id="insertBoard">
		insert into HandongFood 
		(name, category, address, photo, average, url, menu)
		values( #{name}, #{category}, #{address}, #{photo}, #{average}, #{url}, #{menu})
	</insert>
	<update id="updateBoard">
		update HandongFood
		set name=#{name}, category=#{category}, address=#{address}, photo=#{photo}, average=#{average}, url=#{url}, menu=#{menu} 
		where sid=#{sid}
	</update>
	<delete id="deleteBoard">
		delete * from HandongFood where sid=#{sid}
	</delete>
	<select id="getBoard" resultType="board">
		select * from HandongFood where sid=#{sid}
	</select>
	<select id="getBoardList" resultType="board">
		select * from HandongFood order by average desc
	</select>

</mapper>