<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sid, userid, username, name, star, average_star, address, category, url, menu, review, photo;  -->	 
<mapper namespace="Board">
	<insert id="insertBoard">
		insert into BOARD 
		( username, name, star, address, category, url, menu, review, photo)
		values( #{username}, #{name}, #{star}, #{address}, , #{category}, #{url}, #{menu}, #{review}, #{photo})
	</insert>
	<update id="updateBoard">
		update BOARD
		set username=#{username}, name=#{name}, address=#{address}, category=#{category}, url=#{url}, menu=#{menu}
		where sid=#{sid}
	</update>
	<update id="updateReview">
		update BOARD
		set username=#{username}, star=#{star}, review=#{review}, photo=#{photo}
		where sid=#{sid}
	</update>
	<delete id="deleteReview">
		delete from BOARD where sid=#{sid}
	</delete>
	<delete id="deleteBoard">
		delete from BOARD where name=#{name}
	</delete>
	<select id="getBoard" resultType="board">
		select * from BOARD where sid=#{sid}
	</select>
	<select id="getBoardList" resultType="board">
		select * from BOARD DISTINCT order by seq desc
	</select>
	<select id="getReviewList" resultType="board">
		select * from BOARD where name = #{sid} order by seq desc
	</select>
</mapper>