<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sid, userid, username, name, star, average_star, address, category, url, menu, review, photo;  -->	 
<mapper namespace="Board">
	<insert id="insertBoard">
		insert into HandongFood 
		(Ranking, Address, Name, Average, Category, URL, Menu, Photo)
		values( #{Ranking}, #{Address}, #{Name}, #{Average}, , #{Category}, #{URL}, #{Menu}, #{Photo})
	</insert>
	<update id="updateBoard">
		update HandongFood
		set Ranking=#{Ranking}, Address=#{Address}, Name=#{Name}, Average=#{Average}, Category=#{Category}, URL=#{URL}, Menu=#{Menu}, Photo=#{Photo}
		where sid=#{sid}
	</update>
	<delete id="deleteBoard">
		delete from HandongFood where Name=#{Name}
	</delete>
	<select id="getBoard" resultType="board">
		select * from HandongFood where sid=#{sid}
	</select>
	<select id="getBoardList" resultType="board">
		select * from HandongFood order by sid desc
	</select>
</mapper>